
  <article>
    <style>      
      td, th {
        text-align: left;
        padding: 8px;
        word-break: break-word;
      }
      
      </style>      
      <table>
        <tr>
          <th>Judul</th>
          <th>Berkas</th>
        </tr>
        <tr>
          <td>Natsu e no Tunnel, Sayonara no Deguchi<br><small>Oleh/Garapan: Yurasu Fansub</small></td>
          <td>
            <a href="http://0.vern.cc/EEm.zip">[Yurasu.xyz] Film Melalui Terowongan Musim Panas, Melangkah ke Pelupuk Perpisahan - BD (1080p).mkv</a>
          </td>
        </tr>
        <tr>
          <td>Ore no Kanojo to Osananajimi ga Shuraba Sugiru<br><small>Oleh/Garapan: Moesubs</small></td>
          <td>
            <a href="https://pomf2.lain.la/f/n5g5noh.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_01v2_[BD][720p-AAC][EA728AF4].mkv</a><br>
<a href="https://pomf2.lain.la/f/9qooav6k.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_02_[BD][720p-AAC][21E9864B].mkv</a><br>
<a href="https://pomf2.lain.la/f/19z4o9sq.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_03_[BD][720p-AAC][C1FDECCE].mkv</a><br>
<a href="https://pomf2.lain.la/f/nekaww4.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_04_[BD][720p-AAC][9AA8AF6B].mkv</a><br>
<a href="https://pomf2.lain.la/f/8big2t9f.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_05_[BD][720p-AAC][168FECA5].mkv</a><br>
<a href="https://pomf2.lain.la/f/3s96j894.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_06_[BD][720p-AAC][64B63ECA].mkv</a><br>
<a href="https://pomf2.lain.la/f/phgc81yw.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_07_[BD][720p-AAC][63B5B8BB].mkv</a><br>
<a href="https://pomf2.lain.la/f/lc857c5q.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_08v2_[BD][720p-AAC][D90D295F].mkv</a><br>
<a href="https://pomf2.lain.la/f/bod5p12z.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_09_[BD][720p-AAC][79BB01B5].mkv</a><br>
<a href="https://pomf2.lain.la/f/ex2f22ag.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_10_[BD][720p-AAC][330570D6].mkv</a><br>
<a href="https://pomf2.lain.la/f/ondtij9d.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_11_[BD][720p-AAC][457DADA8].mkv</a><br>
<a href="https://pomf2.lain.la/f/brn5stia.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_12_[BD][720p-AAC][E9D2A61C].mkv</a><br>
<a href="https://pomf2.lain.la/f/f1nozwp1.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_13_[BD][720p-AAC][F2C5A70B].mkv</a>
          </td>
        </tr>
      </table>
  </article>
