
  <article>
    <style>      
      td, th {
        text-align: left;
        padding: 8px;
      }
      
      </style>      
      <table>
        <tr>
          <th>Judul</th>
          <th>Berkas</th>
        </tr>
        <tr>
          <td>Natsu e no Tunnel, Sayonara no Deguchi<br><small>Oleh/Garapan: Yurasu Fansub</small></td>
          <td><a href="http://0.vern.cc/EEm.zip">[Yurasu.xyz] Film Melalui Terowongan Musim Panas, Melangkah ke Pelupuk Perpisahan - BD (1080p).mkv</a></td>
        </tr>
      </table>
  </article>
