
  <article>
    <style>      
      td, th {
        text-align: left;
        padding: 8px;
        word-break: break-word;
      }
      
      </style>      
      <table>
        <tr>
          <th>Judul</th>
          <th>Berkas</th>
        </tr>
        <tr>
          <td>Kono Subarashii Sekai ni Shukufuku wo!<br><small>Oleh/Garapan: Tiramisu Fansub</small></td>
          <td>
            <a href="https://pomf2.lain.la/f/ho3u2y3.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 01v2 (BD 1280x720 AAC)[DC80D92C].mkv</a><br>
<a href="https://pomf2.lain.la/f/0nv5y0e9.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 02v2 (BD 1280x720 AAC)[7BDBD028].mkv</a><br>
<a href="https://pomf2.lain.la/f/9tx5tvxn.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 03 (BD 1280x720 AAC)[4CF97A48].mkv</a><br>
<a href="https://pomf2.lain.la/f/67olsbbq.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 04 (BD 1280x720 AAC)[F9A12B3F].mkv</a><br>
<a href="https://pomf2.lain.la/f/6968u2ob.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 05 (BD 1280x720 AAC)[D7C6CE30].mkv</a><br>
<a href="https://pomf2.lain.la/f/gaz0wmql.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 06 (BD 1280x720 AAC)[B1ACB6A8].mkv</a><br>
<a href="https://pomf2.lain.la/f/kwpoeo23.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 07v2 (BD 1280x720 AAC)[631146C5].mkv</a><br>
<a href="https://pomf2.lain.la/f/ma9gqu1y.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 08v2 (BD 1280x720 AAC)[AA0DDC0E].mkv</a><br>
<a href="https://pomf2.lain.la/f/lsqhn3gr.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 09 (BD 1280x720 AAC)[F1DEA8A0].mkv</a><br>
<a href="https://pomf2.lain.la/f/5r5ieos.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 10 Tamat (BD 1280x720 AAC)[C654EB04].mkv</a><br>
<a href="https://pomf2.lain.la/f/0cwb4ej8.7z">[Tiramisubs] Kono Subarashii Sekai ni Shukufuku wo! - 11 OVA (BD 1280x720 AAC)[C44FD69F].mkv</a>
          </td>
        </tr>
        <tr>
          <td>Natsu e no Tunnel, Sayonara no Deguchi<br><small>Oleh/Garapan: Yurasu Fansub</small></td>
          <td>
            <a href="http://0.vern.cc/EEm.zip">[Yurasu.xyz] Film Melalui Terowongan Musim Panas, Melangkah ke Pelupuk Perpisahan - BD (1080p).mkv</a>
          </td>
        </tr>
        <tr>
          <td>Ore no Kanojo to Osananajimi ga Shuraba Sugiru<br><small>Oleh/Garapan: Moesubs</small></td>
          <td>
            <a href="https://pomf2.lain.la/f/n5g5noh.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_01v2_[BD][720p-AAC][EA728AF4].mkv</a><br>
<a href="https://pomf2.lain.la/f/9qooav6k.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_02_[BD][720p-AAC][21E9864B].mkv</a><br>
<a href="https://pomf2.lain.la/f/19z4o9sq.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_03_[BD][720p-AAC][C1FDECCE].mkv</a><br>
<a href="https://pomf2.lain.la/f/nekaww4.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_04_[BD][720p-AAC][9AA8AF6B].mkv</a><br>
<a href="https://pomf2.lain.la/f/8big2t9f.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_05_[BD][720p-AAC][168FECA5].mkv</a><br>
<a href="https://pomf2.lain.la/f/3s96j894.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_06_[BD][720p-AAC][64B63ECA].mkv</a><br>
<a href="https://pomf2.lain.la/f/phgc81yw.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_07_[BD][720p-AAC][63B5B8BB].mkv</a><br>
<a href="https://pomf2.lain.la/f/lc857c5q.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_08v2_[BD][720p-AAC][D90D295F].mkv</a><br>
<a href="https://pomf2.lain.la/f/bod5p12z.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_09_[BD][720p-AAC][79BB01B5].mkv</a><br>
<a href="https://pomf2.lain.la/f/ex2f22ag.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_10_[BD][720p-AAC][330570D6].mkv</a><br>
<a href="https://pomf2.lain.la/f/ondtij9d.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_11_[BD][720p-AAC][457DADA8].mkv</a><br>
<a href="https://pomf2.lain.la/f/brn5stia.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_12_[BD][720p-AAC][E9D2A61C].mkv</a><br>
<a href="https://pomf2.lain.la/f/f1nozwp1.7z">[Moesubs]_Ore_no_Kanojo_to_Osananajimi_ga_Shuraba_Sugiru_-_13_[BD][720p-AAC][F2C5A70B].mkv</a>
          </td>
        </tr>
      </table>
  </article>
